<p id="notice"><%= notice %></p>

<h1>Orders</h1>



<div class="container-fluid">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-2 col-md-6">
  
        <p><h3><%= order.name %></h3></p>
        <p><h3><%= order.lastname %></h3></p>
  

        <%= link_to 'Show /', order %>

       <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %><br><br><br><br>


      </div><!-- /col -->
    <% end %>
  </div>
</div>
