
 <p id="notice"><%= notice %></p>


<h1>SHOW ORDER</h1>


<table width="100%">
  <thead>
    <tr>
      <th><h3>Name</h3></th>
      <th><h3>lastname</h3></th>
      <th><h3>description</h3></th>
      

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="p_name" width="20%"><%= @order.name %></td>
         <td class="p_lastname" width="20%"><%= @order.lastname %></td>
        <td class="p_description" width="20%"><%= @order.description %></td>
       
        <td>
      </tr>
       <%= link_to 'Back', orders_path, class:"btn btn-default" %>
<%= link_to 'Edit', edit_order_path(@order), class:"btn btn-default" %>
  </tbody>
</table>